@model Cats.Cattery

@{
    ViewData["Title"] = "Create";
}
    <head>
        <style>
            body {
                background-image: url(https://images.unsplash.com/photo-1510137600163-2729bc6959a6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1201&q=80);
                background-repeat: no-repeat;
                background-attachment: fixed;
                background-size: cover;
            }

            table {
                background-color: rgba(0, 0, 0, 0.55);
                border-bottom-color: black;
            }

            .display-5 {
                color: white;
            }

            .row {
                background-color: rgba(0, 0, 0, 0.45);
                color: white;
            }

            .loc-r {
                margin-right: 4px;
            }

            .btn {
                background-color: black;
                border: 2px solid white;
            }
        </style>
    </head>

<h1 class="display-5">Create new Cattery</h1>

<hr class="display-5"/>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Adress" class="control-label"></label>
                <input asp-for="Adress" class="form-control" />
                <span asp-validation-for="Adress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CityId" class="control-label"></label>
                <select asp-for="CityId" class ="form-control" asp-items="ViewBag.CityId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Capacity" class="control-label"></label>
                <input asp-for="Capacity" class="form-control" />
                <span asp-validation-for="Capacity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="display-5" asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
